
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    }
    .main {
    margin: 5px;
    }
    .box {
    border: 2px solid #808080;
    height: 100px;
    background:green;
    position: fixed;
    top:0;
    }

.articule {
    width: 100vw;
}

#columnas{
    padding: 5px;
}
#columnas div{
    display: inline-block;
    width: 24%;
    padding: 5px;
}
img{
    width: 100%;

}