div{
    width: 400px;
    height: 500px;
    background-image: url("../img/ejercicio-5_item.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

img{
    width: 300px;
    position: absolute;
    top:50px;
    left: 30px;


}